*, *:before, *:after { box-sizing: border-box; /* transition: all 0.1s ease-in-out; */ }
body { background-color: #0f1923; background-size: cover; background-position: center; backdrop-filter: blur(5px); user-select: none; margin: 0; padding: 0; font-family: 'oswald_regularregular', sans-serif; text-transform: uppercase; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); font-size: 3vmin; color: #fff; position: relative; overflow: hidden; }
body:before { content: ''; width: 100%; height: 100%; left: 0; top: 0; background-color: rgba(15, 25, 35, 0.5); position: absolute; }
body .card { display: flex; flex-wrap: wrap; height: 100vh; width: 100vw; padding: 4px; animation: fadeIn 1s ease-in; animation-fill-mode: forwards; }
body .card .box { width: 20%; padding: 4px; position: relative; }
body .card .box input { position: absolute; opacity: 0; }
body .card .box input:checked ~ span { background-color: rgba(63, 199, 149, 0.4); border-color: rgba(63, 199, 149, 1); }
body .card .box span { background-color: rgba(255, 255, 255, 0.1); border: 2px solid transparent; cursor: pointer; position: absolute; left: 4px; top: 4px; width: calc(100% - 8px); height: calc(100% - 8px); display: flex; justify-content: center; align-items: center; padding: 8px; text-align: center; }
body .card .box span:hover, body .card .box input:checked ~ span:hover { background-color: rgba(63, 199, 149, 1); animation: highlightBorder 0.25s ease-in; animation-fill-mode: forwards; }

/* Animations */
@keyframes fadeIn { 0% { opacity: 0; } 100% { opacity: 1; } }
@keyframes highlightBorder { 0% { border-color: rgba(255, 255, 255, 0.75); } 100% { border-color: rgba(255, 255, 255, 0); } }

/* Font families */
@font-face {
    font-family: 'oswald_regularregular';
    src: url('../fonts/oswald-regular.woff2') format('woff2'),
         url('../fonts/oswald-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}