*, *:before, *:after { box-sizing: border-box; /* transition: all 0.1s ease-in-out; */ }
body { background-color: #0f1923; background-size: cover; background-position: center; backdrop-filter: blur(5px); user-select: none; margin: 0; padding: 0; font-family: 'oswald_regularregular', sans-serif; text-transform: uppercase; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); font-size: 3vmin; color: #fff; position: relative; overflow: hidden; }
body:before { content: ''; width: 100%; height: 100%; left: 0; top: 0; background-color: rgba(15, 25, 35, 0.5); position: absolute; }
body nav { height: 10vh; padding: 8px 8px 0px; position: relative; z-index: 1; }
body nav ul { background-color: rgba(255, 255, 255, 0.1); display: flex; align-items: center; padding: 8px; margin: 0; height: 100%; list-style: none; }
body nav ul li { height: 100%; display: inline-flex; align-items: center; }
body nav ul li a { color: inherit; text-decoration: none; display: inline-flex; align-items: center; padding: 0px 24px; height: 100%; }
body nav ul li a.button { background-color: rgba(63, 199, 149, 0.4); border: 2px solid rgba(63, 199, 149, 1); }
body nav ul li a.button:hover { background-color: rgba(63, 199, 149, 1); animation: highlightBorder 0.25s ease-in; animation-fill-mode: forwards; }
body nav ul li.logo { margin: 0px auto 0px 0px; }
body nav ul li.logo a { display: block; font-size: 60%; letter-spacing: 0.125em; height: initial; padding: 0px; }
body .card { display: flex; flex-wrap: wrap; height: 90vh; width: 100vw; padding: 4px; animation: fadeIn 1s ease-in; animation-fill-mode: forwards; }
body .card .box { width: 20%; padding: 4px; position: relative; }
body .card .box input { position: absolute; opacity: 0; }
body .card .box input:checked ~ span { background-color: rgba(63, 199, 149, 0.4); border-color: rgba(63, 199, 149, 1); }
body .card .box span { background-color: rgba(255, 255, 255, 0.1); border: 2px solid transparent; cursor: pointer; position: absolute; left: 4px; top: 4px; width: calc(100% - 8px); height: calc(100% - 8px); display: flex; justify-content: center; align-items: center; padding: 8px; text-align: center; }
body .card .box span:hover, body .card .box input:checked ~ span:hover { background-color: rgba(63, 199, 149, 1); animation: highlightBorder 0.25s ease-in; animation-fill-mode: forwards; }
body .popup { display: flex; align-items: center; justify-content: center; position: absolute; left: 0; top: 0; width: 100vw; height: 100vh; z-index: 1; }
body .popup .background { position: absolute; top: 0; left: 0; width: 100vw; height: 100vh; background-color: rgba(15, 25, 35, 0.9); }
body .popup .background:before { content: 'x'; font-size: 200%; position: absolute; top: 0; right: 0; width: 12.5vh; height: 12.5vh; display: flex; align-items: center; justify-content: center; cursor: pointer; }
body .popup.active { display: flex !important; }
body .popup ul { background-color: rgba(255, 255, 255, 0.1); display: inline-block; height: 75vh; overflow-y: scroll; padding: 32px; position: relative; z-index: 1; text-decoration: none; list-style: none; }
body .popup ul li a { color: inherit; text-decoration: none; border-bottom: 2px dashed #fff; }

/* Animations */
@keyframes fadeIn { 0% { opacity: 0; } 100% { opacity: 1; } }
@keyframes highlightBorder { 0% { border-color: rgba(255, 255, 255, 0.75); } 100% { border-color: rgba(255, 255, 255, 0); } }

/* Font families */
@font-face {
    font-family: 'oswald_regularregular';
    src: url('../fonts/oswald-regular.woff2') format('woff2'),
         url('../fonts/oswald-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}